<h1>任務清单（To-do list）</h1>

<% if user_signed_in? %>
  <p>已登入：<%= current_user.email %></p>
  <%= link_to "我的任务清单...", todos_path %>
  <%= link_to "登出", destroy_user_session_path, data: {
    turbo_method: :delete,
    turbo_confirm: "登出？"
  } %>
<% else %>
  <p>未登入</p>
  <%= link_to '登入', new_user_session_path %>
  <%= link_to '注册', new_user_registration_path %>
<% end %>
