<% if @liste %>
  <h2>列表：<%= @liste.listname %></h2>
<% end %>

<%# 表单：若模型存在，则使用 PATCH 方法，反之使用 POST 方法 %>
<%= form_with model: model_has_liste(@liste, @todo) do |f| %> 
  <% if @todo.errors.any? %>
    <h3>存在以下<%= @todo.errors.size %>個错误：</h3>
    <ul>
      <% @todo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <p>
    <%= f.label :name, '事件名' %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :done, '完成？' %>
    <%= f.check_box :done %>
  </p>

  <p>
    <%= f.label :important, '重要' %>
    <%= f.check_box :important %>
  </p>

  <p>
    <%= f.submit "提交事件" %>
  </p>
<% end %>
