<h1>任务清单（To-do list）</h1>

<%= link_to '新建任务...', new_todo_path %>

<table id="todo_table">
  <tr>
    <th>名称</th>
    <th>完成？</th>
    <th>重要？</th>
    <th>修改</th>
    <th>删除</th>
  </tr>
  
  <% @todos.each do |todo| %>
    <tr>
      <td><%= todo.name %></td>
      <td>
        <% if todo.done == 1 %>
          <%= '✅' %>
        <% end %>
      </td>
      <td>
        <% if todo.important == 1 %>
          <%= '⭐' %>
        <% end %>
      </td>
      <td><%= link_to '改', edit_todo_path(todo) %></td>
      <td><%= link_to '删', todo_path(todo), data: {
        turbo_method: :delete,
        turbo_confirm: "删除任务？"
      } %></td>
    </tr>
  <% end %>
<table>

<%= stylesheet_link_tag "index" %>
