<h1>任務清单（To-do list）</h1>
<% if @liste %>
  <h2>列表：<%= @liste.listname %></h2>
<% else %>
  <h2>首頁</h2>
<% end %>

<%= link_to '新建任务...', new_todo_path %>
<% if @liste %>
  <%= link_to '返回...', listes_path %>
  <%= link_to '回到主页...', todos_path %>
<% else %>
  <%= link_to '查看自定义任务表...', listes_path %>
<% end %>

<%= form_with url: destroy_many_todos_path, method: 'delete' do %>
  <div id="buttons">
    <%# 表单内提交按纽设定 name 值，将额外参数传到控制器 %>
    <%= submit_tag "标记为重要", name: "importants" %>
    <%= submit_tag "除去重要标记", name: "unimportants" %>
    <%= submit_tag "删除选中任务", data: {
      turbo_confirm: '是否删除选中任务？'
    } %>
  </div>

  <table id="todo_table">
    <tr>
      <th></th>
      <th>名称</th>
      <th>完成？</th>
      <th>重要？</th>
      <th>更新时间</th>
      <th>修改</th>
      <th>删除</th>
    </tr>
    
    <% @todos.each do |todo| %>
      <tr
        <% if (todo.done == 1) && (todo.important == 1) %>
          <%= "class=done-imp" %>
        <% elsif todo.done == 1 %>
          <%= "class=done" %>
        <% elsif todo.important == 1 %>
          <%= "class=imp" %>
        <% end %>
      >
        <%# ids[]：数组类型的参数 %>
        <td><%= check_box_tag "ids[]", todo.id, false %></td>

        <td class="name"><%= todo.name %></td>
        <td>
          <% if todo.done == 1 %>
            <%= '✅' %>
          <% end %>
        </td>
        <td>
          <% if todo.important == 1 %>
            <%= '⭐' %>
          <% end %>
        </td>
        <td><%= todo.updated_at %></td>
        <td><%= link_to '修改...', edit_todo_path(todo) %></td>
        <td><%= link_to '删除', todo_path(todo), data: {
          turbo_method: :delete,
          turbo_confirm: "删除任务？"
        } %></td>
      </tr>
    <% end %>
  <table>
<% end %>

<%= stylesheet_link_tag "index" %>
